html,body{
    height: 100%;
    width: 100%;
}
.advertising_cn{
    height: 100%;
    width: 100%;
    background: url(../img/advertising_bg.jpg);
    background-size:100% 100%; 
}
.yaoqing{
    display: block;
    width: 160px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 3px;
    margin-top: 9px;
    color: #fff;
}
.my_text{
    padding-top: 75%;
    text-align: center;
}
.erm{
    width: 200px;
    height: 200px;
    background: url(../img/ewm.png);
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    line-height: 300px;   
}
.erm img{
    width: 105px;
    height: 105px;
    margin: 0 auto;
    /* margin-top: 3px; */
}