.article-detail-con{margin: 0 auto;margin: 12px 12px;}
.article_title_con{margin-bottom:10px; }
.article_title{ line-height:1.6em; display:block;font-size:22px;font-weight:600;}
.article_subtitle{position:relative;height:22px; line-height:22px;margin-top:12px;}
.article_subtitle_small{color: #a4a4a4; font-size: 13px; position:absolute;right:8px;}
.article_zy{line-height:1.8em;margin-top:20px;padding:10px;background-color:#f2f2f2;}
.article_img img{width:100%;margin:4px auto;}
.article_content{line-height:1.8em;margin-top:20px;}
.article_content img{max-width:100%;display:block;}
