.choselogin{
    text-align: center;
}
.close{
    text-align: left;
    font-size: 25px;
    padding-left: 10px; 
}
.logo{
    margin-top: 100px;
}
.logo img{
    width: 100px;
}
.my_but{
    padding: 0 20px;
    margin-top: 15px
}
.cells__title_my{
    text-align:center
}
