html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
html,
body {
    background-color: #f8f8f8;
}
ul, ol {
    list-style: none
}

/* 公共样式 */
.fl {
    float: left;
}
.fr {
    float: right;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.fw {
    font-weight: 700;
}
.dn {
    display: none;
}
.db {
    display: block;
}
.dlb {
    display: inline-block;
}
.mgt20 {
    margin-top: 20px;
}
.indexlist{
    padding: 0 10px;
}
a{
    color: #333;
    text-decoration: none;
}