.form_group { width: 100%;box-shadow: 0px 3px 4px rgba(137, 148, 155, .2), 0px 0px 4px rgba(234, 234, 234, .6); padding:0 8px;box-sizing:border-box;background-color:#ffffff;}
/*******************表单********************/
.form_row {position: relative;width: 100%;height:40px; border-bottom: 1px solid #ddd;line-height:40px;overflow:hidden;}
.form_row .label { font-size:12px;color: #494e52; position: absolute; line-height:40px;}
.form_row input.form_input,.form_row select.form_input {border: none;height: 100%;width: 100%;font-size:14px;line-height:40px; color: #494e52;box-sizing:border-box;padding:0 2px;}
.option input.form_input{ padding-left: 72px;}

.textarea_con { background: #fff; border-radius: 3px; border: 1px solid #e0e0e0; position: relative; overflow: hidden; padding: 4px; }
.textarea_con textarea.textarea { border:none; line-height: normal; width: 100%;box-sizing:border-box; }
.form_textarea{margin:0;padding:0;line-height: normal;font-size: 14px;background:none;border:none;}
/*******************file控件********************/
.file-box { position: relative; height: 88%; line-height: 1em;width: 100%;}

.file-txt { height: 88%; border: 1px solid #ffffff; width: 72%; background: #ffffff;}
.file-btn { background-color: #FFF; border: 1px solid #CDCDCD; height: 88%; width: 20%;position: absolute; right:2px;top:2px; -webkit-appearance: none; outline: none;}
.file-file { position: absolute; height: 88%; left: 0;top:0; filter: alpha(opacity:0); opacity: 0; width: 98%; z-index:2;}
.file-img{position: absolute; height: 98%;border: 1px solid #cccccc;z-index:2;left:0;top:2px; background-color:#ffffff;z-index:3;}