html,body{
    background: #eeeeee;
}
#otherheader{
    z-index: 9999;
}
.myswiper{
    padding-top: 100px;
}
.my_well_right{
    width: 100px;
    background: #32CE85;
    border-radius: 20px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
}
.slide-box{
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
}
.slide-item{
    min-width: 65px;
    height: 80px;
    text-align: center;
    padding-top:15px;
    width: 20%;
}
.slide-item span{
    display: inline-block;
    display: block;
    height: 30px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
#quiz_nav{
    background: #fff;
}
#recommended{
    color: #32CE85;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    background: #fff;
    height: 50px;
    line-height: 50px;
}
.goods_type{

}
.goods_name{
    font-size: 12px;
    margin-top: 10px;
}
.goods_value{

}
.goods_money{
    margin: 17px 0;
    font-size: 12px;
    position: relative;
    color: #32CE85;
    text-indent: 20px;
}
.goods_money img{
    display: block;
    position: absolute;
    top: -2px;
}
.goods_bottom{
    color: #777
}
.goods_img{
    position: absolute;
    top: 57px;
    right: 0px;
}
#load{
    position: fixed;
    bottom:60px
    ;text-align:center;
    width:100%;
    display: none;
}
.otherheader_right{
    display: none;
}
.my_weui_flex{
    position: relative;
    padding-top: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    margin-bottom: 10px;
}
.my_lien{
    height: 30px;
    border-right: 1px solid #999;
    position: absolute;
    left: 50%;
    top: 62px;
}