html,body{
    background: #fff;
}
.otherheader_right{
    display: none
}
.my_placeholder{
    position: relative;
}
.my_placeholder img{
    display: block;
    float: right;
    margin-top:3px; 
}
.my_placeholder span{
    display: block;
    float: right;
}
.my_placeholder_money{
    font-size: 12px;
    padding-bottom: 10px;
    color: #888;
}
#my_pic{
    height: 200px;
    padding-top: 50px;
    background: #eeeeee
}
#my_pic img{
    height: 100%;
    width: 100%;
}

.my_flex_border :after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.goods_content{
    padding: 15px;
    color: #888;
    position: relative;
}
.line{
    width: 100%;
    position: relative;
    margin-top:15px; 
}
.line:after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;  
}
#footer{
    position: fixed;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border: 0px;
    background: #26C688;
}