html, body{
    height: 100%;
    width: 100%;
    background: red
}
#hw_logo img{
    width: 133px;
    height: 120px;
    display: block;
    margin: 0 auto;
}
#hw_content{
    width: 100%;
    height: 390px;
    background: url(../img/ling_bg.png) no-repeat;
    background-size: 96% 96%;
    background-position:center center;
    margin: 0 auto;
    color: #E9C687;
    text-align: center;
    margin-top: 15px;
}
.hw_titel{
    padding-top: 60px;
    font-size: 27px;
    color: #fff;
    margin-bottom: 15px;
}

.ewm{
    width: 130px;
    height: 130px;
    background: #fff;
    margin: 0 auto;
}
.hw_bottom{
    margin-top:13px;
}