html,.weui-cell{
    background: #fff;
}
#load{
    position: fixed;
    bottom:60px
    ;text-align:center;
    width:100%;
    display: none;
}
.index_page{
    padding-top: 100px; 
}
/* 首页轮播图样式 */
.swiper-container {
    width: 100%;
    height: 170px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: lightblue;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
	width:100%;
}
.my_swiper_bg{
    opacity: 0.3;
    color: #fff;
    position: absolute;
    bottom: 0px;
    height: 40px;
    background: #111;
    width: 100%
}
.my_swiper_text{
    position:absolute;
    bottom:0px;
    height:40px;
    color: #fff;
    width:100%;
    line-height:40px;
    text-align: left;
    padding-left:10px;
    text-align: center; 
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.swiper-wrapper .swiper-slide img{
	width:100%
}
.swiper-pagination{
	text-align:right;
}
.slide-box{
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
}

#header_nav .slide-item{
	height: 40px;
	line-height: 40px;
    text-align: center;
    width:25%;
}
#header_nav .slide-item span{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    text-align: center;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    max-width:100px;
}
.my_img{
    width: 80px;
}
.weui-media-box_appmsg .weui-media-box__hd{
    width: 80px;
}
.zhanbao{
    color: #1DBE96;
}
.pinlun{
    background: url(../img/pinglun.png) no-repeat;
    background-size: 100%;
    display: inline;
    float: right;
    width: 80px;
    text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.weui-panel__bd{
    padding-bottom: 100px;
}