.menu {}

.my_style_menu_titel {
    width: 100%;
    padding: 11px 10px;
    border-bottom: #3ECE9F solid 1px;
    color: #29A57C;
    font-size: 12px;
    clear: both
}

.my_menu {
    padding: 5px 10px;
}

ul {
    list-style: none;
}

.my_nav>li {
    float: left;
}

.my_nav li a {
    display: block;
    height: 32px;
    background: #f3f3f3;
    line-height: 32px;
    text-align: center;
    color: #333;
    /* border-radius: 8px; */
    border-radius: 4px;
    padding: 0 10px;
    font-size: 12px;
    width: 100px;
    margin-right: 3px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.my_nav li a img {
    width: 17px;
    height: 17px;
    position: relative;
    top: 5px;
    left: 2px;
}

.drop-down {
    position: relative;
}

.drop-down-content {
    padding: 0;
    display: none;
    position: absolute;
}

.my_nav li .my_nav_first_a {
    border-radius: 4px;
}

.my_list_course ul li {
    width: 33.3%;
    text-align: center;
}

.my_list_course ul li span {}

.my_list_course ul li p {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.my_nav li .my_menu_first_check {
    color: #29A57C;
}