html,body{
    background-color: #f8f8f8;
}
#otherheader{
    z-index: 999;
}
.otherheader_right{
    display: none;
}
.mypk{
    padding-bottom: 55px;
    padding-top: 61px
}
.mypk_titel{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.mypk_list{
    padding: 0 5px;
    background-color: #fff;
    margin-bottom: 12px;
    font-size: 13px;
    height: 113px;
}
.my_type_pk{
    display: blocqk;
    position: absolute;
    width: 50px;
    height: 20px;
    line-height: 20px;
    top: 0px;
    background-color: #32CF85;
    color: #fff;
    text-align: center;
}
.my_pk_back_but a{
    color: #fff;
}
.my_pk_back_but{
    position: fixed;
    line-height: 60px;
    font-size: 17px;
    width: 100%;
    height: 60px;
    text-align: center;
    bottom: 0px;
    color: #fff;
    background: #32CF85;
}

.mypk_list .placeholder .can_color{
	color:#ccc
}
.can_mar{
	margin-bottom: 0px
}
.my_flex{
	background-color:#fff;
	position:relative;
    margin-bottom: 7px;
    padding-top: 20px
}
.my_type_pk_top{
	padding-top:13px;
}
.my_type_pk_top_all{
	position: relative;
}
.my_type_pk_top_span_o{
	display:inline-block;
	margin-right:10px;
	max-width:48px;
}
.my_type_pk_top_span_t{
	display:inline-block;
	position:absolute;
	right:15px;
}
.my_type_pk_top_span_t img{
	width: 16px
}
.my_list_b{
	background-color:#fff;
	margin-bottom: 7px;
}
.my_type_pk_th{
	padding-top:3px
}
.mypk_list  .my_type_pk_co{
	padding-top:8px;
	color:#32CE85;
	font-size: 16px;
}
.my_placeholder_shu{
	padding-top:8px;
	font-size: 16px;
}