#news_content{
    padding: 20px;
}
.news_titel{
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px; 
}
.news_img_text{
    color: #888;
    margin:10px 0; 
}
.news_t{
    margin: 10px 0;
}
#footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
}
#footer textarea{
    width: 100%;
    border: none;
    border-top:1px solid #ccc; 
    height: 35px;
    line-height: 35px;
}
#talks{
    position: absolute;
    right: 15px;
    top: 10px;
}
.news_tt{
    line-height: 25px;
}
.speaksend{
    display: none;
}