#header{
    height: 50px;
    background: #26C688;
    width: 100%;
    text-align: left;
    position: relative;
}
#header .header_left{
    float: left;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 10px;
}
#header .header_text{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size:17px;
    color: #fff; 
}
#header .header_right{
    float: right;
    position: absolute;
    right: 10px;
    top: 9px;
}
#header .header_right img{
    width: 30px;
}
#news_content{
    padding: 20px;
}
.news_titel{
    font-weight: bold;
    font-size: 16px;
}
.news_img_text{
    color: #888;
    margin:10px 0; 
}
.news_t{
    margin: 10px 0;
}
#footer{
    position:fixed;
    bottom: 0;
    width: 100%
}
#footer textarea{
    width: 100%;
    border: none;
    border-top:1px solid #ccc; 
    height: 35px;
    line-height: 35px;
}
#talks{
    position: absolute;
    right: 15px;
    top: 10px;
}