html,body{
    background: #fff;
}
#pkend_content{
    text-align: center;
    margin-top: 50%;
}
#pkend_content img{
    width: 130px;
}
#pkend_content{
    font-size: 16px;
}
#pkend_content_top{
    margin: 10px 0;
}