.row{
    padding: 0;
    margin: 0;
}
#otherheader{
    z-index: 8;
}
#quiz_top{
    padding-top:50px;
    height: 100px; 
}
.otherheader_right{
    display: none;
}
#quiz_nav{
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size:16px; 
}
.slide-box{
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
}
.slide-item{
    min-width: 65px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
}
.slide-item span{
    display: inline-block;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.pk_time{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.pk_top{
    text-align: center;
    height: 40px;
    position: relative;
    line-height: 40px;
}
.pk_but{
    display: block;
    float: right;
    border: 1px solid #00B7EF;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top:5px;
    color: #00B7EF;
}
.pk_countries{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.pk_countries_guoone{
    width: 40px;
    margin-left: 5px;
}
.pk_countries_pk_img{
    margin: 0 15px;
    width: 18px;
}
.pk_countries_guotwo{
    margin-right: 5px;
    width: 40px;
}
.pk_state{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.pk_top,.pk_countries,.pk_state{
    background: #fff;
}
.my_media{
    padding-top: 5px;
}
#quiz_top{
    background: #fff
}
.my_lv{
    width: 60px;
    height: 16px;
    line-height: 16px;
    background: url(../img/lv.png) no-repeat;
    background-size: 100% 100%; 
    text-align: center;
    color: #fff;
    font-size:14px; 
}
.my_username{
    width: 65px;
    text-align: center;
    font-size: 15px;
    margin-top: 1px;
}
#quiz_top_right{
    width: 100px;
    background: #EEEEEE;
    border-radius: 20px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    margin-top:5px 
}
#quiz_top_right span{
    margin: 0 8px;
}
.quiz_top_group{
    float: left;
    margin-top: 5px;
    margin-left:15px; 
}
#quiz_header{
    background: #26C688;
    position: fixed;
    width: 100%;
    display: none;
}

#header_img{
    line-height: 40px
}
.pk{
    display: block;
    width: 100%
}