/*
* @description: 清除浏览器默认样式
* @author: will
* @update: will (2014-08-30 15:42)
* @version: v1.0
*/
body{
	font-size: 14px;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    vertical-align: baseline;
    box-sizing: border-box;
}
input{
	margin: 0;
	padding: 0;
	list-style: none;
	outline:none;
}
textarea{resize:none;outline:none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
	q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body a{
	outline:none;
	blr:expression(this.onFocus=this.blur());
}
a{
 color:#000;
 border:0;
 text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:link {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}
a:active, a:focus {-moz-outline:none;outline:none;ie-dummy:expression(this.hideFocus=true);}
/*input,button,select{
	-webkit-appearance:none;
	-webkit-border-radius:inherit;
}*/
input[type="submit"],input[type="reset"],input[type="button"],button{
	-webkit-appearance: none;
	border-radius: 0;
}