body{background-color:#f2f2f2;font-size:14px;}
ul,li,p{ margin: 0; padding: 0;}
li{ list-style: none; }
.curr-city{background-color:#ffffff;border:1px solid #eeeeee;height:40px;line-height:40px;box-sizing:border-box;padding:0 8px;}
.city-list{margin-top:4px;}
.city-list > p{height:32px;line-height:32px;color:#00C7C7;text-transform:uppercase;box-sizing:border-box;padding:0 4px;font-size:15px;}
.city-list > a{height:32px;line-height:32px;color:#00C7C7;text-transform:uppercase;box-sizing:border-box;padding:0 4px;font-size:15px;}
.city-list ul{background-color:#ffffff;border-left:1px solid #eeeeee;border-top:1px solid #eeeeee;}
.city-list ul li{float:left;width:25%;box-sizing:border-box;height:32px;line-height:32px;text-align:center;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.city-list ul li a{display:block;}
.navbar{background:#000000;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;width:22px;height:94%;top:3%;position:fixed;right:4px;justify-content:center;align-items:center;}
.navbar a{height:3.8%;text-align:center;color:#ffffff;display:block;vertical-align:middle;}