html,body{
    background-color: #fff;
}
.topup{
    padding-top: 49px; 
}
.top_num{
    padding-top:39px;
    margin:0
}

.otherheader_right{
    display: none
}
#topup_top{
    width: 100%;
    height:140px;
    background: url(../img/my_momey.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
}
#topup_top p{
    margin-top:10px;
}
.topup_but a{
    width: 160px;
    height: 55px;
    color: #fff;
    background-color: #32CF85;
    line-height: 55px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
}
#topup_list ul li{
    float: left;
}
#topup_list ul li:first-child{
    margin-right: 30px; 
}
#topup_list ul li:last-child{
    float: right;
}
.placeholder{
    width: 100px;
    height: 60px;
    color: #fff;
    margin: 0 auto;
    text-align:center;
    border:1px solid #ddd;
}
.placeholder span{
    display: block;
    line-height: 30px;
    margin: 0 auto;
    height: 20px;
    line-height: 20px;
    color: #ccc;
}
.weui-flex{
    margin-bottom: 18px;
}
.but_titel{
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: #333;
    font-size: 16px;
}
.zhifu_title_text{
    padding-left: 10px;
    color: #333;
    font-size: 16px; 
    font-weight: bold;
}
.zhifu_img{
    padding-left: 5px;
    margin-top: 10px;
    position: relative;
}
.zhifu_img img{
    margin-right: 10px;
}
.zhifu_img_last{
    position: absolute;
    right: 0px;
    width:28px;
    display: inline-block;
    float:right;
    margin-top:3px
}
.zhifu_title_text_right{
    display:inline-block;
    float:right;
    margin-top:8px;
    margin-right:12px;
    color: #30CE81;
    font-size: 14px;
}
.weui-picker__hd a{
    display: inline-block;
    width: 50%;
    text-align: center;;
    color: #fff;
    height: 50px;
    line-height: 50px;
}
.my_to_centent{
    padding:20px
}
.my_c_n{
    color:#32CF85
}
.my_picker_h{
    height:475px
}
.my_p_t{
    padding-top:10px
}
.placeholder .topup_num{
    display: inline-block;
    margin: 0;
    padding: 0
}
.my_zhi_lv{
    margin:6px;
    color:#ccc
}
.but_all{
    padding:0;
    margin:0;
    text-align:center
}
.quxiao{
    color:#888;
    background-color:#EEEEEE;
    text-align:center
}
.queding{
    color:#fff;
    background-color:#30CE81;
    text-align:center
}
#my_page_buttom{
    display: none;
}
.zhif_lv{
    margin:6px;
    color:#ccc
}
.zhifu_title_text_right span{
    font-size:19px
}
.wei_shi_fu_i{
    width:30px;
}
.but_all{
    padding: 0;
    margin: 0
}
#toast{
    display: none
}