body{
	background: #f8f8f8
}
.user_content{
	clear: both;
	padding-top: 50px;
}
.otherheader_right{
    display: none
}
.user_content_top{
	margin-bottom:20px;
}
.my_wei_user_content_t{
	height: 70px;
}
.my_p{
	width:55px;
	margin-right:5px;
	height: 55px;
	display:block;
	border-radius: 50%;
}
.user_content_list{
	background: #fff
}
.user_margin_r{
	margin-top: 15px;
}
.user_name{
	margin-top:11px;
}
.user_img_p{
	vertical-align: middle
}
.user_img_p img{
	width:23px
}
.user_img_t{
	margin-left: 5px;
}

.weui-dialog {
    position: fixed;
    z-index: 5000;
    width: 50%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.song_img img{
	width: 20px;
	position: relative;
	display: inline-block;
	top: 4px;
}
.my_song_but{
	height: 26px;
	line-height: 26px;
	margin-top: 15px;
	font-size: 14px
}