html,body{
    overflow-x:hidden;
    overflow-y:hidden
}
.row{
    padding: 0;
    margin: 0;
}

/* 轮播图样式 */
.swiper-container {
    width: 100%;
    height: 170px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: lightblue;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
	width:100%;
}
#quiz_top{
    padding-top:50px;
    height: 110px; 
}
.otherheader_right{
    display: none;
}
#quiz_nav{
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size:16px; 
}
.slide-box{
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
}
.slide-item{
    min-width: 65px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
}
.slide-item span{
    display: inline-block;
    display: block;
    height: 30px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.pk_time{
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pk_top{
    text-align: center;
    height: 40px;
    position: relative;
    line-height: 40px;
}
.pk_top span{
    display: inline-block;
    max-width: 150px;
    margin: 0 auto;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pk_but{
    display: block;
    float: right;
    border: 1px solid #00B7EF;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top:5px;
    color: #00B7EF;
}

.pk_countries{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.pk_countries_guoone{
    width: 40px;
    margin-left: 5px;
}
.pk_countries_pk_img{
    margin: 0 15px;
    width: 18px;
}
.pk_countries_guotwo{
    margin-right: 5px;
    width: 40px;
}


.pk_state{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.pk_top .pk_countries,.pk_state{
    background: #fff;
}
.my_media{
    padding-top: 5px;
}
#quiz_top{
    background: #fff
}
.my_lv{
    width: 60px;
    height: 16px;
    line-height: 16px;
    background: url(../img/lv.png) no-repeat;
    background-size: 100% 100%; 
    text-align: center;
    color: #fff;
    font-size:14px; 
}
.my_username{
    width: 65px;
    text-align: center;
    font-size: 15px;
    margin-top: 1px;
}
.fr{
    margin-right:15px;
    margin-top:3px
}
#quiz_top_right{
    min-width: 100px;
    background: #EEEEEE;
    border-radius: 20px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    margin-top:8px 
}
.quiz_top_right img{
    width: 20px;
}
#quiz_top_right span{
    margin: 0 8px;
}
.quiz_top_group{
    float: left;
    margin-top: 10px;
    margin-left:15px; 
}
.quiz_top_group_one img{
    width: 35px;
}
.quiz_top_group_two {
    margin-left:10px;
}
#quiz_header{
    background: #26C688;
    position: fixed;
    width: 100%;
    display: none;
}

#header_img{
    line-height: 40px
}
.pk{
    display: block;
    background: #fff;
    width: 100%
}
#quiz_nav .slide-item:first-child{
    color: #26C688;
}
.weui_mask {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.weui-dialog{
    position: fixed;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.my_hb{
    width: 250px;
    height: 260px;
    background: url(../img/hb.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 29px;
    margin: 0 auto;
    margin-top: 100px;
}
.c_text{
    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    margin-bottom: 15px
}
.my_hb_bg{
    width: 300px;
    height: 300px;
    text-align: center;
}
.cl_img{
    position: absolute;
    top: 82px;
    width: 30px;
    right: 20px;
    
}
.cl_title{
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 31px;
}
.cl_denglu{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;

}
.cl_feng{
    font-size: 18px;
    color: #f8c292;
    margin-bottom: 2px;
}
.cl_but{
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 15px;
    background: #fff;
    margin: 0 auto;
    color: #d95209
}