    .my_banner {
        position: relative;
        width: 100%;
        height: 140px;
    }

        .my_banner img {
            width: 100%;
        }

    .swiper-container {
        width: 100%;
        text-align: left;
        line-height: 25px;
    }

    .swiper-slide {
        font-size: 14px;
        background: #fff;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #0FB053;
        /* Center slide text vertically */
    }

    .my_nav {
        /*background:url(../img/navbg.jpg) no-repeat;*/
        background: #5F07AF;
        width: 100%;
        position:relative;
        top:0px;
        z-index:99999;
            padding-top: 3px;
    }

    #nav_content {
        background: #fff;
        width: 98%;
        height: 150px;
        border-radius: 5px;
        margin: 0 auto;
        padding-top:12px;
        max-width: 365px;
    }

    .weui-flex {
        margin-bottom: 10px;
    }

    .weui-flex__item {
        text-align: center;
    }

        .weui-flex__item img {
            width: 40px;
        }

    #navbottom {
        background: #5F07AF;
        text-align: center;
        position: relative;
        height: 107px;
        width: 100%;
    }

        #navbottom img {
            display: block;
            width: 100%;
            position: absolute;
                   top: -5px;
    z-index: 99999999999;
        }

    .weui-grid {
        width: 50%;
    }

    .weui-grid {
        padding: 10px 0;
    }

    .weui-grid__icon + .weui-grid__label {
        padding: 0 15px;
        text-align: left;
    }

    .weui-grid__icon {
        width: 81%;
        height: 133px;
    }

    .goodsnam {
        font-weight: bold;
        font-size: 12px;
        margin: 7px 0px 0px 0;
    }

    .goodsms {
        color: #9c9c9c;
        font-size: 12px;
    }

    .limitico {
        color: #FF5706;
        background-color: rgba(255,87,6, 0.08);
        padding: 0 5px;
        margin: 12px 0px 3px 0px;
        border-radius: 8px;
        display: inline-block;
    }

    .limitimoney {
        color: #e02e24;
        font-size: 17px;
        font-weight: 700;
    }

    .limitext {
        font-size: 12px;
        margin-left: 5px;
    }body {
}
